@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import "var";
@import "mixin";
html {
  font-size: 10px;
  @include desktop {
    font-size: 0.7rem;
  }
}
body {
  font-family: "Mukta", sans-serif;
}
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#main {
  display: none;
}
.img-100 {
  width: 100%;
}
.container {
  max-width: 1300px !important;
}
.bg-light1,
footer {
  background: $bg_primary !important;
}
.nav-item a:hover {
  background: $bg_secondary;
}
li {
  list-style: none;
}
.nav-link {
  color: $white !important;
  font-size: 1.9rem;
  padding: 10px 18px !important;
}
.navbar-toggler-icon {
  width: 30px;
  height: 20px;
  background-color: #fff !important;
}
.navbar-light .navbar-nav .nav-link.active {
  background: $bg_secondary;
}
.color-primary {
  font-size: 5rem;
  color: $h1color;
}
.img-70 {
  width: 70%;
}
.main-news,
.m-r-news,
.interview-head,
.i-head,
.l-finance-head,
.b-head,
.c-head,
.i-n-head,
.t-head,
.r-head,
.b-culture {
  background: $infocolor;

  position: relative;
  a {
    color: $textcolor;
  }
}
.red {
  position: absolute;
  background: $bg_secondary;
  width: 5px;
  height: 100%;
  top: 0;
}
.my-news a {
  color: $textcolor;
  cursor: pointer;
}
.my-news a:hover,
.banking-news h1:hover,
.special-news h1:hover {
  color: $bg_secondary !important;
}
.n-details {
  font-size: 1.9rem;
}
.img-special {
  height: 250px;
  width: 100%;
}
.m-right {
  position: relative;
}
.news-img:hover img,
.abc:hover,
.ss:hover {
  transform: translateY(2px);
  transition: 0.3s;
}
.insurance img,
.economic img,
.share img,
.finance img,
.l-f-img img,
.banking img,
.cooperative img,
.international img,
.tech img,
.report img {
  width: 100%;
  height: 300px;
}
footer {
  p,
  i {
    font-size: 1.9rem;
    color: $white;
  }
}
.facebook,
.google,
.twitter,
.youtube {
  padding: 8px 11px;
  border-radius: 50%;
  background: rgb(29, 29, 29);
  transition: 0.5s;
}
.facebook:hover,
.youtube:hover,
.twitter:hover,
.google:hover {
  transform: rotate(360deg);
  background: $bg_primary;
  // transition: 0.5s;
}
.copyright {
  background: #283d68;
}
.go-to-top {
  position: relative;
}
.go-top i {
  background: rgb(168, 69, 69);
  position: absolute;
  padding: 20px;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  display: block;
  position: fixed;
}
.is-fadeIn {
  position: fixed;
  top: 0;
  width: 100%;
  animation: down 1s linear 1;
  z-index: 99;
}
@keyframes down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
